<span class="spinner-grow spinner-grow-sm {{TextColorClass}}" role="status">
  <span class="sr-only">Loading...</span>
</span>
<span class="spinner-grow spinner-grow-sm {{TextColorClass}}" role="status">
  <span class="sr-only">Loading...</span>
</span>
<span class="spinner-grow spinner-grow-sm {{TextColorClass}}" role="status">
  <span class="sr-only">Loading...</span>
</span>
<span class="spinner-grow spinner-grow-sm {{TextColorClass}}" role="status">
  <span class="sr-only">Loading...</span>
</span>
