<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework"
    type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
    requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="AudienceId" value="76a18dd218c345728ff57ba2490e6fca"/>
    <add key="AudienceSecret" value="rOsciOiCpJo2P4uBQsK4D52EXXSfjPlTwijw3o8h62k"/>
    <add key="LogFilePath" value="C:\AppLogs\EvventaHero\"/>

    <!-- This will lockout the user for 2 min -->
    <add key="DefaultAccountLockoutTimeSpan" value="2"/>
    <!-- This is the failed counter, after 5 failed logins the user will locked out -->
    <add key="MaxFailedAccessAttemptsBeforeLockout" value="5"/>
    <!-- This is the default lock proceess is it enabled or not, it will affected the new created users -->
    <add key="UserLockoutEnabledByDefault" value="true"/>

  </appSettings>
  <connectionStrings>
    <add name="KidsAppContext" connectionString="Data Source=.;Initial Catalog=KidsAppContext;MultipleActiveResultSets=True;Integrated Security=True;"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>