
<div class="content-wrapper">
  <!-- Page Title Header Starts-->
  <div class="row page-title-header">
    <div class="col-12">
      <div class="page-header">
        <h4 class="page-title">{{resources.MyCalendar}}</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 grid-margin form-loader-wrap">
      <div class="form-loader" [ngStyle]="{'display':IsLoading ? 'block' : 'none' }"></div>
      <!--<div id="calendar"></div>-->
      <full-calendar #SupplierCalendar id="calendar" defaultView="dayGridMonth" [events]="Activities" [plugins]="calendarPlugins"></full-calendar>
    </div>
  </div>


</div>


