<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="KidsAppContext" connectionString="Data Source=.;Initial Catalog=KidsAppContext;MultipleActiveResultSets=True;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="EmailServiceTimer" value="300000" />
    <add key="SMTPServer" value="smtp.fastmail.com" />
    <add key="SMTPPort" value="587" />
    <add key="MailSenderName" value="support@ajdev.net" />
    <add key="SupportEmail" value="support@ajdev.net" />
    <add key="MailSenderPassword" value="k5wmemg8mtzvttkt" />
    <add key="SystemBaseURL" value="http://localhost:4200/" />
    <add key="ResetURL" value="http://localhost:4200/user/resetpassword/{{guid}}" />
    <add key="AccountActivateURL" value="http://localhost:4200/user/activate/{{guid}}" />
    <add key="SupplierPortalURL" value="http://localhost:4200/supplier/info" />
    <add key="EmailTemplatePath" value="E:\External\Projects\Website-Airbnb\KidsApp\App.Service\bin\AD" />
    <add key="LogFolderPath" value="C:\AppLogs\KidsApp" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>