<div class="content-wrapper bold-label">
  <!-- Page Title Header Starts-->
  <div class="row page-title-header">
    <div class="col-12">
      <div class="page-header">
        <h4 class="page-title have-searchbox">
          {{resources.Messages}}
          <div class="search">
            <input type="text" class="searchTerm" [attr.placeholder]="resources.SearchInMessages"
                   [(ngModel)]="Tempkeyword" (appEnter)="OnSerach()">
            <button type="submit" class="searchButton" (appClick)="OnSerach()">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 grid-margin">
      <!--Basic Details-->
      <div class="row form-loader-wrap" style="min-height:500px">
        <!--Loader-->
        <div class="form-loader" [ngStyle]="{'display':IsLoading ? 'block' : 'none' }"></div>
        <!--Data-->
        <div class="booking-table-wrapper">
          <table class="table msgs-table">
            <thead>
              <tr class="header">
                <th>{{resources.SenderName}}</th>
                <th>{{resources.MessageText}}</th>
                <th>{{resources.Email}}</th>
                <th>{{resources.PhoneNumber}}</th>
                <th>{{resources.MessageDate}}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let Msg of Msgs">
                <!--colspan="8" class="table-container"-->
                <td>
                  <span>{{Msg.Name}}</span>
                </td>
                <td>
                  <span style="white-space:pre-line"> {{Msg.Messgae}}  </span>
                </td>
                <td>
                  {{Msg.Email}}
                </td>
                <td>
                  {{Msg.MobileNumber}}
                </td>
                <td style="width:10%">
                  {{formatDate(Msg.CreateDate,'dd MMM yyyy hh:mm')}}
                </td>
                <td>
                  <button class="btn btn-app" *ngIf="!Msg.IsSeen || Msg.IsLoadingUpdate " (appClick)="SetSeen(Msg)" [ngbTooltip]="resources.Noted">
                    <!--{{resources.Noted}}-->
                    <i class="far fa-eye" *ngIf="!Msg.IsLoadingUpdate"></i>
                    <shared-dotSpinner *ngIf="Msg.IsLoadingUpdate"></shared-dotSpinner>
                  </button>
                  <button class="btn btn-reply m-s-10" *ngIf="!Msg.IsReplied" (appClick)="OpenReplyModal(Msg,EmailMessageModal)" [ngbTooltip]="resources.Reply">
                    <!--{{resources.Reply}}-->
                    <i class="fa fa-reply"></i>
                  </button>
                </td>
              </tr>
              <tr *ngIf="!Msgs || Msgs.length == 0">
                <td colspan="6" style="text-align:center">
                  {{resources.NoMessages}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-md-12">
          <shared-pager [(pager)]="Pager" (OnPageChange)="OnPageChange($event)"></shared-pager>
        </div>
      </div>
    </div>
  </div>
</div>



<ng-template #EmailMessageModal let-modal>
  <div class="form-loader-wrap">
    <div class="form-loader" [ngStyle]="{'display':IsLoadingReply ? 'block' : 'none' }"></div>

    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        <span>{{resources?.SendEmail}}</span>
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body  message-popup popup-content ">
      <!--<textarea class="messageFeild" [(ngModel)]="MsgText" [ngClass]="{'ctr-err':InvalidMessage}" [attr.placeholder]="resources.EnterText"></textarea>-->
      <shared-richtextbox [(ngModel)]="MsgText" class="col-12" [ngClass]="{'ctr-err': InvalidMessage}"></shared-richtextbox>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (appClick)="OnSend()">{{resources?.Send}}</button>
      <button type="button" class="btn btn-outline-dark" (appClick)="OnCancel()">{{resources?.Cancel}}</button>
    </div>

  </div>

</ng-template>
