<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/943357e7-fe7c-4636-b9f3-b37be139ffbe/resourcegroups/KidsAppDemoRestResourcesGroup/providers/Microsoft.Web/sites/KidsAppDemoREST</ResourceId>
    <ResourceGroup>KidsAppDemoRestResourcesGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://kidsappdemorest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>kidsappdemorest.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>KidsAppDemoREST</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$KidsAppDemoREST</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="App.Core.Base.ContextBase" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:kidsappdemorestdbserver.database.windows.net,1433;Initial Catalog=KidsAppContext;User ID=ajarwan@kidsappdemorestdbserver;Password=silverchip@1" Name="Data Source=tcp:kidsappdemorestdbserver.database.windows.net,1433;Initial Catalog=KidsAppContext;User Id=ajarwan@kidsappdemorestdbserver;Password=silverchip@1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="App.Core.Base.ContextBase, App.Core" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="KidsAppContext" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:kidsappdemorestdbserver.database.windows.net,1433;Initial Catalog=KidsAppContext;User ID=ajarwan@kidsappdemorestdbserver;Password=silverchip@1" Name="Data Source=tcp:kidsappdemorestdbserver.database.windows.net,1433;Initial Catalog=KidsAppContext;User Id=ajarwan@kidsappdemorestdbserver;Password=silverchip@1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=KidsAppContext;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\KidsAppContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.;Initial Catalog=KidsAppContext;MultipleActiveResultSets=True;Integrated Security=True;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="KidsAppContext-Web.config Connection String">
      <ParameterValue>data source=tcp:kidsappdemorestdbserver.database.windows.net,1433;initial catalog=KidsAppContext;user id=ajarwan@kidsappdemorestdbserver;password=silverchip@1;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="App.Core.Base.ContextBase-Web.config Connection String">
      <ParameterValue>Data Source=tcp:kidsappdemorestdbserver.database.windows.net,1433;Initial Catalog=KidsAppContext;User Id=ajarwan@kidsappdemorestdbserver;Password=silverchip@1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="App.Core.Base.ContextBase" />
  </ItemGroup>
</Project>