<ng-template #content let-modal>
  <div class="modal-header">
    <div>
      <!--<i class="glyphicon icon" [ngClass]="getConfirmationIcon()"></i>-->
      <span class="bootstrap-dialog-title">{{getTitle()}}</span>
    </div>

    <button type="button" class="close" aria-label="Close" (appClick)="cancel()">
      <span aria-hidden="true">&times;</span>
    </button>

    <!--<button class="btn btn-clean popup-close" (appClick)="cancel()">
      <i class="evicon-cross"></i>
    </button>-->
  </div>
  <div class="modal-body">
    <div class="bootstrap-dialog-body">
      <span class="bootstrap-dialog-message" [innerHTML]="message"></span>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (appClick)="confirm();">{{confirmButtonText}}</button>
    <button class="btn btn-default" *ngIf="type == AppEnums.DialogType.Warning" (appClick)="cancel();">{{cancelButtonText}}</button>
  </div>
</ng-template>
