<div class="paginationWrapper" *ngIf="pager?.TotalRecords > pager?.PageSize">
    <nav aria-label="Page navigation ">
        <ul class="pagination justify-content-center">
            <!--Prev-->
            <li class="page-item" >
                <a class="page-link" aria-label="Previous" (appClick)="GoToPage(pager.PageIndex - 1)"
                    [ngClass]="{'grayoutButton' : !pager || pager?.PageIndex <= 1 || pager?.TotalPages == 0}">
                    <i aria-hidden="true" class="icon icon-angle-left"></i>
                </a>
            </li>
            <!--First Page-->
            <li class="page-item active" [ngClass]="{'active' : pager?.PageIndex == 1 }"
                *ngIf="pager?.TotalPages> 0">
                <a class="page-link" (appClick)="GoToPage(1)" >1</a>
            </li>
            <!--Right Dots-->
            <li class="page-item"
                *ngIf="CurrentDotsMode == DotsMode.BothSides || CurrentDotsMode == DotsMode.RightSide">
                <a class="page-link">...</a>
            </li>
            <!--Pages-->
            <li class="page-item active" *ngFor="let pageIndex of PagerIndexes"
                [ngClass]="{'active' : pager?.PageIndex == pageIndex }" (appClick)="GoToPage(pageIndex)">
                <a class="page-link" (appClick)="GoToPage(pageIndex)">{{pageIndex}}</a>
            </li>
            <!--Left Dots-->
            <li class="page-link" *ngIf="CurrentDotsMode == DotsMode.BothSides || CurrentDotsMode == DotsMode.LeftSide">
                <a class="page-link">...</a>
            </li>
            <!--Last Page-->
            <li class="page-item" *ngIf="pager?.TotalPages > 1 "
                [ngClass]="{'active' : pager?.PageIndex == pager?.TotalPages }"
                (appClick)="GoToPage(pager.TotalPages)">
                <a class="page-link">{{pager?.TotalPages}}</a>
            </li>
            <!--Next-->
            <li class="page-item" >
                <a class="page-link" aria-label="Next" (appClick)="GoToPage(pager.PageIndex + 1)"
                    [ngClass]="{'grayoutButton' : !pager || pager?.TotalPages == pager?.PageIndex || pager.TotalPages == 0}">
                    <i aria-hidden="true" class="icon icon-angle-right"></i>
                </a>
            </li>
        </ul>
    </nav>
</div>
